@use 'globals' as *;

body {
  color: var(--text-color);
  font-size: var(--step-0);
  background-color: var(--background-color);
}

button {
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: 1.2rem;
  background: var(--button-background-color);
  color: var(--button-text-color);
  border: none;
  box-shadow: none;
  margin: 0.5rem;
  font-weight: bold;
  &[disabled] {
    background: var(--light-gray);
    color: var(--white);
  }
  &:hover,
  &:focus {
    background-color: var(--black);
  }
}
.pics-set {
  margin: 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.tile {
  height: 21rem;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  &__img {
    display: block;
    border-radius: 1rem;
    width: 100%;
    max-height: 95%;
  }
  > div {
    color: var(--background-color);
    font-size: 1rem;
  }
}

footer {
  background-color: var(--footer-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apod-page {
  padding: 1rem;
  > div {
    display: block;
    text-align: right;
    margin-bottom: 0.5rem;
  }
  > img {
    width: 100%;
  }
  &__copyright {
    text-align: right;
    font-size: 0.8rem;
  }
}
